{
  "openapi": "3.1.0",
  "info": {
    "title": "PayVessel API",
    "description": "PayVessel API for accepting payments, sending money, verifying identities, and managing wallets",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.payvessel.com"
    },
    {
      "url": "https://sandbox.payvessel.com"
    }
  ],
  "security": [
    {}
  ],
  "paths": {
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/bvn/basic": {
      "post": {
        "summary": "Basic BVN Verification",
        "description": "Verify a BVN against submitted identity details such as first name, middle name, last name, gender, date of birth, and phone number.",
        "tags": [
          "Identity Verification"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicBvnVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Basic BVN verification request",
                  "value": {
                    "bvn": "22123456789",
                    "first_name": "John",
                    "middle_name": "Adebayo",
                    "last_name": "Doe",
                    "gender": "MALE",
                    "birthday": "1992-08-14",
                    "phone_number": "08012345678"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BVN verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicBvnVerificationResponse"
                },
                "examples": {
                  "successfulVerification": {
                    "summary": "Successful basic BVN verification",
                    "value": {
                      "success": true,
                      "message": "BVN verification completed successfully",
                      "data": {
                        "name_match_rlt": "MATCH",
                        "names_match_percentage": "96",
                        "birthday_match_rlt": "MATCH",
                        "gender_match_rlt": "MATCH",
                        "phone_number_match_rlt": "MATCH"
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  },
                  "bvnNotFound": {
                    "summary": "BVN not found",
                    "value": {
                      "success": false,
                      "message": "BVN not found",
                      "data": null,
                      "charges": {
                        "charged": true,
                        "charged_amount": "25.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Verification could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/bvn/enhanced": {
      "post": {
        "summary": "Enhanced BVN Verification",
        "description": "Verify a BVN and retrieve enriched identity information such as names, gender, birthday, photo, and phone numbers tied to the BVN.",
        "tags": [
          "Identity Verification"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedBvnVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Enhanced BVN verification request",
                  "value": {
                    "bvn": "22123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enhanced BVN verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedBvnVerificationResponse"
                },
                "examples": {
                  "successfulVerification": {
                    "summary": "Successful enhanced BVN verification",
                    "value": {
                      "success": true,
                      "message": "BVN verification completed successfully",
                      "data": {
                        "bvn": "22123456789",
                        "first_name": "John",
                        "middle_name": "Adebayo",
                        "last_name": "Doe",
                        "gender": "MALE",
                        "name_on_card": "JOHN A DOE",
                        "birthday": "1992-08-14",
                        "photo": "/9j/4AAQSkZJRgABAQAAAQABAAD...",
                        "phone_number": "08012345678",
                        "phone_number_2": "08087654321"
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  },
                  "bvnNotFound": {
                    "summary": "BVN not found",
                    "value": {
                      "success": false,
                      "message": "BVN not found",
                      "data": null,
                      "charges": {
                        "charged": true,
                        "charged_amount": "25.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Verification could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/nin/basic": {
      "post": {
        "summary": "Basic NIN Verification",
        "description": "Verify a NIN against submitted identity details such as first name, middle name, last name, gender, date of birth, and phone number.",
        "tags": [
          "Identity Verification"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicNinVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Basic NIN verification request",
                  "value": {
                    "nin": "12345678901",
                    "first_name": "John",
                    "last_name": "Doe",
                    "middle_name": "Adebayo",
                    "gender": "MALE",
                    "birthday": "1992-08-14",
                    "phone_number": "08012345678"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NIN verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicNinVerificationResponse"
                },
                "examples": {
                  "successfulVerification": {
                    "summary": "Successful basic NIN verification",
                    "value": {
                      "success": true,
                      "message": "NIN verification completed successfully",
                      "data": {
                        "name_match_rlt": "MATCH",
                        "names_match_percentage": "96",
                        "birthday_match_rlt": "MATCH",
                        "gender_match_rlt": "MATCH",
                        "phone_number_match_rlt": "MATCH"
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  },
                  "ninNotFound": {
                    "summary": "NIN not found",
                    "value": {
                      "success": false,
                      "message": "NIN not found",
                      "data": null,
                      "charges": {
                        "charged": true,
                        "charged_amount": "25.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Verification could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/nin/enhanced": {
      "post": {
        "summary": "Enhanced NIN Verification",
        "description": "Verify a NIN and retrieve enriched identity information such as names, gender, birth date, photo, and telephone number tied to the NIN.",
        "tags": [
          "Identity Verification"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedNinVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Enhanced NIN verification request",
                  "value": {
                    "nin": "12345678901"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enhanced NIN verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedNinVerificationResponse"
                },
                "examples": {
                  "successfulVerification": {
                    "summary": "Successful enhanced NIN verification",
                    "value": {
                      "success": true,
                      "message": "NIN verification completed successfully",
                      "data": {
                        "nin": "12345678901",
                        "first_name": "John",
                        "middle_name": "Adebayo",
                        "surname": "Doe",
                        "gender": "MALE",
                        "birth_date": "1992-08-14",
                        "photo": "/9j/4AAQSkZJRgABAQAAAQABAAD...",
                        "telephone_no": "08012345678",
                        "error_message": ""
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  },
                  "ninNotFound": {
                    "summary": "NIN not found",
                    "value": {
                      "success": false,
                      "message": "NIN not found",
                      "data": null,
                      "charges": {
                        "charged": true,
                        "charged_amount": "25.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Verification could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/documents/drivers-license": {
      "post": {
        "summary": "Verify Driver's License",
        "description": "Verify a driver's license and retrieve the identity details attached to the license number.",
        "tags": [
          "Identity Verification"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DriversLicenseVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Driver's license verification request",
                  "value": {
                    "license_number": "LAG-DL-4839201"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Driver's license verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriversLicenseVerificationResponse"
                },
                "examples": {
                  "successfulVerification": {
                    "summary": "Successful driver's license verification",
                    "value": {
                      "success": true,
                      "message": "Driver's license verification completed successfully",
                      "data": {
                        "first_name": "John",
                        "middle_name": "Adebayo",
                        "last_name": "Doe",
                        "gender": "MALE",
                        "birth_date": "1992-08-14",
                        "photo": "/9j/4AAQSkZJRgABAQAAAQABAAD...",
                        "license_number": "LAG-DL-4839201",
                        "issue_date": "2021-06-01",
                        "expiry_date": "2026-05-31"
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  },
                  "documentNotFound": {
                    "summary": "Driver's license not found",
                    "value": {
                      "success": false,
                      "message": "Driver's license not found",
                      "data": null,
                      "charges": {
                        "charged": true,
                        "charged_amount": "25.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Verification could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/documents/voters-card": {
      "post": {
        "summary": "Verify Voter's Card",
        "description": "Verify a voter's card and retrieve the identity details attached to the voter ID.",
        "tags": [
          "Identity Verification"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VotersCardVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Voter's card verification request",
                  "value": {
                    "voters_id": "AKD12345678901"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voter's card verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VotersCardVerificationResponse"
                },
                "examples": {
                  "successfulVerification": {
                    "summary": "Successful voter's card verification",
                    "value": {
                      "success": true,
                      "message": "Voter's card verification completed successfully",
                      "data": {
                        "first_name": "John",
                        "middle_name": "Adebayo",
                        "last_name": "Doe",
                        "gender": "MALE",
                        "birth_date": "1992-08-14",
                        "photo": "/9j/4AAQSkZJRgABAQAAAQABAAD...",
                        "voters_id": "AKD12345678901",
                        "polling_unit": "Ward 4 Unit 12",
                        "state": "Lagos",
                        "lga": "Ikeja"
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  },
                  "documentNotFound": {
                    "summary": "Voter's card not found",
                    "value": {
                      "success": false,
                      "message": "Voter's card not found",
                      "data": null,
                      "charges": {
                        "charged": true,
                        "charged_amount": "25.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Verification could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/documents/international-passport": {
      "post": {
        "summary": "Verify International Passport",
        "description": "Verify an international passport and retrieve the identity details attached to the passport number.",
        "tags": [
          "Identity Verification"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InternationalPassportVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "International passport verification request",
                  "value": {
                    "passport_number": "A12345678"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "International passport verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternationalPassportVerificationResponse"
                },
                "examples": {
                  "successfulVerification": {
                    "summary": "Successful international passport verification",
                    "value": {
                      "success": true,
                      "message": "International passport verification completed successfully",
                      "data": {
                        "first_name": "John",
                        "middle_name": "Adebayo",
                        "last_name": "Doe",
                        "gender": "MALE",
                        "birth_date": "1992-08-14",
                        "photo": "/9j/4AAQSkZJRgABAQAAAQABAAD...",
                        "passport_number": "A12345678",
                        "issue_date": "2021-03-10",
                        "expiry_date": "2031-03-09",
                        "nationality": "Nigerian"
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  },
                  "documentNotFound": {
                    "summary": "International passport not found",
                    "value": {
                      "success": false,
                      "message": "International passport not found",
                      "data": null,
                      "charges": {
                        "charged": true,
                        "charged_amount": "25.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Verification could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/face/compare": {
      "post": {
        "summary": "Compare Faces",
        "description": "Compare a source image against a target image and return a similarity score.",
        "tags": [
          "Identity Verification"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaceCompareRequest"
              },
              "examples": {
                "default": {
                  "summary": "Face comparison request",
                  "value": {
                    "source_image": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD...",
                    "target_image": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Face comparison response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaceCompareResponse"
                },
                "examples": {
                  "successfulVerification": {
                    "summary": "Successful face comparison",
                    "value": {
                      "success": true,
                      "message": "Face comparison completed successfully",
                      "data": {
                        "similarity": "0.93"
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Verification could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/bank/verify-account": {
      "post": {
        "summary": "Verify Bank Account",
        "description": "Verify a bank account against a BVN, bank code, and bank account number.",
        "tags": [
          "Identity Verification"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bank account verification request",
                  "value": {
                    "bvn": "22123456789",
                    "bank_code": "058",
                    "bank_account": "0123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountVerificationResponse"
                },
                "examples": {
                  "successfulVerification": {
                    "summary": "Successful bank account verification",
                    "value": {
                      "success": true,
                      "message": "Bank account verification completed successfully",
                      "data": {
                        "verify_result": true,
                        "bank_account_name": "JOHN ADEBAYO DOE",
                        "name_match_percentage": 97
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Verification could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/risk/blacklist/query": {
      "post": {
        "summary": "Blacklist Query",
        "description": "Query blacklist data using phone number, BVN, and NIN identifiers.",
        "tags": [
          "Risk"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistQueryRequest"
              },
              "examples": {
                "default": {
                  "summary": "Blacklist query request",
                  "value": {
                    "phone_number": "08012345678",
                    "bvn_no": "22123456789",
                    "nin": "12345678901"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklist query response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistQueryResponse"
                },
                "examples": {
                  "successfulQuery": {
                    "summary": "Successful blacklist query",
                    "value": {
                      "success": true,
                      "message": "Blacklist query completed successfully",
                      "data": {
                        "result": "NO_HIT",
                        "hit_time": 0,
                        "request_id": "BLQ-20260402-0001"
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Query could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/risk/credit-score/query": {
      "post": {
        "summary": "Credit Score Query",
        "description": "Query customer credit score information using mobile number, ID number, and optional extended info.",
        "tags": [
          "Risk"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditScoreQueryRequest"
              },
              "examples": {
                "default": {
                  "summary": "Credit score query request",
                  "value": {
                    "mobile_no": "08012345678",
                    "id_number": "22123456789",
                    "extend_info": {
                      "channel": "web",
                      "product": "consumer-loan"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit score query response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditScoreQueryResponse"
                },
                "examples": {
                  "successfulQuery": {
                    "summary": "Successful credit score query",
                    "value": {
                      "success": true,
                      "message": "Credit score query completed successfully",
                      "data": {
                        "credit_score": "742",
                        "version": "v1.0",
                        "request_id": "CSQ-20260402-0001"
                      },
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Query could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/risk/loan-feature/query": {
      "post": {
        "summary": "Loan Feature Query",
        "description": "Query loan-feature information using access type, value, authorization, type, and encryption settings.",
        "tags": [
          "Risk"
        ],
        "servers": [
          {
            "url": "https://api.payvessel.com/kyc"
          },
          {
            "url": "https://sandbox.payvessel.com/kyc"
          }
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your PayVessel API key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVKEY-9A1BC2D3EF4G5H6J7K8L"
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your PayVessel API secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-8Z7Y6X5W4V3U2T1S0R9Q"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoanFeatureQueryRequest"
              },
              "examples": {
                "default": {
                  "summary": "Loan feature query request",
                  "value": {
                    "access_type": "bvn",
                    "value": "22123456789",
                    "authorization": "Bearer demo-token",
                    "type": 1,
                    "encrypt": "0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Loan feature query response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanFeatureQueryResponse"
                },
                "examples": {
                  "successfulQuery": {
                    "summary": "Successful loan feature query",
                    "value": {
                      "success": true,
                      "message": "Loan feature query completed successfully",
                      "data": {},
                      "charges": {
                        "charged": false,
                        "charged_amount": "0.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Query could not be processed because the wallet balance is insufficient",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationPaymentErrorResponse"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient wallet balance",
                    "value": {
                      "success": false,
                      "message": "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again.",
                      "details": [
                        "Your wallet balance is insufficient for this request. Required 25.00, available 0. Please fund your wallet and try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pms/api/external/request/customerReservedAccount/": {
      "post": {
        "summary": "Create Virtual Account",
        "description": "Create a reserved virtual bank account for a customer. Each reserved account is unique per customer, supports static and dynamic modes, and triggers notifications when funded. Use static accounts for recurring funding and dynamic accounts for one-time payments.",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVirtualAccountRequest"
              },
              "examples": {
                "static": {
                  "summary": "Static virtual account",
                  "value": {
                    "email": "johndoe@gmail.com",
                    "name": "JOHN DOE",
                    "phoneNumber": "09012345672",
                    "bankcode": ["999991", "120001"],
                    "account_type": "STATIC",
                    "businessid": "061C074E2F91F944B93993B4",
                    "bvn": "22345678901",
                    "nin": "12345678901"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Virtual account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVirtualAccountResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Static account created",
                    "value": {
                      "status": true,
                      "service": "CREATE_VIRTUAL_ACCOUNT",
                      "business": "061C074E2F91F944B93993B4",
                      "banks": [
                        {
                          "bankName": "9Payment Service Bank",
                          "accountNumber": "5030200545",
                          "accountName": "Payvessel-Merchant",
                          "account_type": "STATIC",
                          "expire_date": "2024-01-04T11:29:32.6522498+01:00",
                          "trackingReference": "40HTTGT96CDF360C3DRVGV3J"
                        },
                        {
                          "bankName": "PalmPay",
                          "accountNumber": "6030200545",
                          "accountName": "Payvessel-Merchant",
                          "account_type": "STATIC",
                          "expire_date": "2024-01-04T11:29:32.6522498+01:00",
                          "trackingReference": "50HTTGT96CDF360C3DRVGV3J"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Virtual account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVirtualAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVirtualAccountError"
                },
                "examples": {
                  "validation": {
                    "summary": "Missing required fields",
                    "value": {
                      "status": false,
                      "service": "CREATE_VIRTUAL_ACCOUNT",
                      "message": "Invalid payload",
                      "errors": {
                        "bankcode": [
                          "At least one partner bank code is required"
                        ],
                        "bvn": ["BVN is mandatory for STATIC accounts"]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Invalid credentials",
                    "value": {
                      "error": 401,
                      "message": "Unauthorized. Please check your API key."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": ["Virtual Accounts"]
      }
    },
    "/pms/api/external/request/virtual-account/{businessid}/{account}/": {
      "get": {
        "summary": "Get Single Virtual Account",
        "description": "Fetch details of a specific virtual account using its business ID and account number.",
        "parameters": [
          {
            "name": "businessid",
            "in": "path",
            "description": "Merchant business ID associated with the virtual account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account",
            "in": "path",
            "description": "Virtual account number to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Virtual account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountDetails"
                },
                "examples": {
                  "success": {
                    "summary": "Static virtual account",
                    "value": {
                      "bankCode": "120001",
                      "bankName": "9Payment Service Bank",
                      "accountNumber": "53663632517",
                      "accountName": "ADE OLA",
                      "account_type": "STATIC",
                      "expire_date": null,
                      "trackingReference": "DdGJDGJGJUGYF1038YKXAOE"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Virtual account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": ["Virtual Accounts"]
      }
    },
    "/pms/checkout/card-payment/charge/": {
      "post": {
        "summary": "Card Payment Charge",
        "description": "Process a card payment by charging the customer's card. This endpoint initiates the payment flow and may require additional authentication steps like OTP or PIN validation.",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardChargeRequest"
              },
              "examples": {
                "card_charge": {
                  "summary": "Card payment charge",
                  "value": {
                    "cardData": "encrypted_card_data_string",
                    "key": "encryption_key_string",
                    "reference": "txn_12345"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card charge initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": ["Card"]
      }
    },
    "/pms/checkout/card-payment/confirm-status/": {
      "get": {
        "summary": "Confirm Payment Status",
        "description": "Check the final status of a card payment transaction. Use this to confirm whether a payment was successful after authentication steps.",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatusResponse"
                }
              }
            }
          }
        },
        "tags": ["Card"]
      }
    },
    "/pms/checkout/card-payment/public-key/": {
      "get": {
        "summary": "Get Public Key",
        "description": "Retrieve the public encryption key for securing sensitive card data during transmission.",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicKeyResponse"
              },
              "examples": {
                "card_charge": {
                  "summary": "Card payment charge",
                  "value": {
                    "cardData": "encrypted_card_data_string",
                    "key": "encryption_key_string",
                    "reference": "txn_12345"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Public key retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKeyResponse"
                }
              }
            }
          }
        },
        "tags": ["Card"]
      }
    },
    "/pms/checkout/card-payment/resend-otp/": {
      "post": {
        "summary": "Resend OTP",
        "description": "Resend the one-time password (OTP) for card payment authentication when the initial OTP was not received or expired.",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendOtpRequest"
              },
              "examples": {
                "resend_otp": {
                  "summary": "Resend OTP request",
                  "value": {
                    "transactionRef": "txn_12345",
                    "amount": "10000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP resent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpResponse"
                }
              }
            }
          }
        },
        "tags": ["Card"]
      }
    },
    "/pms/checkout/card-payment/resolve-bin/{bin}/": {
      "get": {
        "summary": "Resolve BIN",
        "description": "Resolve card Bank Identification Number (BIN) to get card type, bank information, and other card metadata.",
        "parameters": [
          {
            "name": "bin",
            "in": "path",
            "description": "First 6-8 digits of the card number (Bank Identification Number)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BIN resolved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BinResolveResponse"
                }
              }
            }
          }
        },
        "tags": ["Card"]
      }
    },
    "/pms/checkout/card-payment/simulate-3ds-callback/": {
      "get": {
        "summary": "Simulate 3DS Callback (For Testing purposes only)",
        "description": "Simulate a 3D Secure authentication callback for testing purposes in the sandbox environment.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "3DS authentication status (success/failed)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["success", "failed"]
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "description": "Transaction ID for 3DS authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "3DS callback simulated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Simulate3DSResponse"
                }
              }
            }
          }
        },
        "tags": ["Card"]
      }
    },
    "/pms/checkout/card-payment/validate-otp/": {
      "post": {
        "summary": "Validate OTP",
        "description": "Validate the one-time password (OTP) provided by the customer for card payment authentication.",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateOtpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpValidationResponse"
                }
              }
            }
          }
        },
        "tags": ["Card"]
      }
    },
    "/pms/checkout/card-payment/validate-phone/": {
      "post": {
        "summary": "Validate Phone",
        "description": "Validate the customer's phone number for card payment authentication and OTP delivery.",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidatePhoneRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneValidationResponse"
                }
              }
            }
          }
        },
        "tags": ["Card"]
      }
    },
    "/pms/checkout/card-payment/validate-pin/": {
      "post": {
        "summary": "Validate PIN",
        "description": "Validate the customer's card PIN for payment authentication when required by the card issuer.",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidatePinRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PIN validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PinValidationResponse"
                }
              }
            }
          }
        },
        "tags": ["Card"]
      }
    },
    "/pms/transactions/{reference}/confirm/": {
      "get": {
        "summary": "Confirm Transaction",
        "description": "Retrieve detailed information about a specific transaction using its reference. This endpoint provides comprehensive transaction data including status, amounts, fees, and associated entities.",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Transaction reference to confirm",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmTransactionResponse"
                }
              }
            }
          }
        },
        "tags": ["Checkout"]
      }
    },
    "/pms/transactions/initialize/": {
      "post": {
        "summary": "Initialize Transaction",
        "description": "Initialize a new payment transaction with customer details, amount, and payment channels. This creates a transaction session that can be used for payment processing.",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitializeTransactionRequest"
              },
              "example": {
                "amount": "5000.00",
                "channels": ["BANK_TRANSFER"],
                "currency": "NGN",
                "customer_name": "John Doe",
                "customer_email": "customer@example.com",
                "customer_phone_number": "+2348012345678",
                "redirect_url": "https://yourapp.com/payment/callback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction initialized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitializeTransactionResponse"
                },
                "example": {
                  "status": true,
                  "message": "Checkout transaction successfully initialized",
                  "data": {
                    "id": "52b9bb2d-01d1-46ac-9800-14d34cb5f882",
                    "transaction_ref": "B0C866BD914C487895ACB8C45B939017",
                    "amount": "5000.00",
                    "status": "PENDING",
                    "access_code": "TEST-ACS-7AF7VH-2QIHE83N-TCTL28-BSDH",
                    "checkout_url": "https://checkout.payvessel.com/TEST-ACS-7AF7VH-2QIHE83N-TCTL28-BSDH",
                    "created_datetime": "2026-04-01T15:46:56.171229"
                  }
                }
              }
            }
          }
        },
        "tags": ["Checkout"]
      }
    },
    "/transaction/verify/{reference}": {
      "get": {
        "summary": "Verify Payment",
        "description": "Verify the status of a payment transaction by reference",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "The unique transaction reference returned when the payment was initialized",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PVSECRET-5LZNFFNT8N9NF6SXUZPWEYQ0Q2Y"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction verification successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyTransactionResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful Payment",
                    "value": {
                      "status": "success",
                      "message": "Transaction verification successful",
                      "data": {
                        "id": 123456789,
                        "reference": "TXN_2024_001",
                        "amount": 50000,
                        "currency": "NGN",
                        "status": "success",
                        "gateway_response": "Successful",
                        "paid_at": "2024-01-15T14:35:22Z",
                        "created_at": "2024-01-15T14:30:00Z",
                        "channel": "card",
                        "fees": 750,
                        "customer": {
                          "id": 12345,
                          "email": "customer@example.com",
                          "first_name": "John",
                          "last_name": "Doe",
                          "phone": "+2348012345678"
                        },
                        "authorization": {
                          "authorization_code": "AUTH_xyz789abc",
                          "bin": "408408",
                          "last4": "4081",
                          "exp_month": "12",
                          "exp_year": "2027",
                          "channel": "card",
                          "card_type": "visa",
                          "bank": "TEST BANK",
                          "country_code": "NG",
                          "brand": "visa",
                          "reusable": true
                        },
                        "metadata": {
                          "custom_fields": [
                            {
                              "display_name": "Order ID",
                              "variable_name": "order_id",
                              "value": "ORD_001"
                            }
                          ]
                        },
                        "log": {
                          "start_time": 1705329000,
                          "time_spent": 322,
                          "attempts": 1,
                          "errors": 0,
                          "success": true,
                          "mobile": false,
                          "input": [],
                          "history": [
                            {
                              "type": "action",
                              "message": "Attempted to pay with card",
                              "time": 15
                            },
                            {
                              "type": "success",
                              "message": "Successfully paid with card",
                              "time": 322
                            }
                          ]
                        }
                      }
                    }
                  },
                  "failed": {
                    "summary": "Failed Payment",
                    "value": {
                      "status": "success",
                      "message": "Transaction verification successful",
                      "data": {
                        "id": 123456790,
                        "reference": "TXN_2024_002",
                        "amount": 50000,
                        "currency": "NGN",
                        "status": "failed",
                        "gateway_response": "Insufficient Funds",
                        "paid_at": null,
                        "created_at": "2024-01-15T15:00:00Z",
                        "channel": "card",
                        "fees": 0,
                        "customer": {
                          "id": 12346,
                          "email": "customer2@example.com",
                          "first_name": "Jane",
                          "last_name": "Smith",
                          "phone": "+2348012345679"
                        },
                        "authorization": null,
                        "metadata": {},
                        "log": {
                          "start_time": 1705330800,
                          "time_spent": 45,
                          "attempts": 1,
                          "errors": 1,
                          "success": false,
                          "mobile": false,
                          "input": [],
                          "history": [
                            {
                              "type": "action",
                              "message": "Attempted to pay with card",
                              "time": 10
                            },
                            {
                              "type": "error",
                              "message": "Payment failed: Insufficient Funds",
                              "time": 45
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Transaction not found"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Unauthorized. Please check your API key"
                }
              }
            }
          }
        },
        "tags": ["Transactions"]
      }
    },
    "/pms/api/external/request/wallet/banks/": {
      "get": {
        "summary": "Get Bank List",
        "description": "Retrieve list of supported banks for fund transfers",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Business API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Business API Secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of supported banks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankListResponse"
                },
                "example": {
                  "status": true,
                  "message": "Banks retrieved successfully",
                  "data": [
                    {
                      "bank_code": "058",
                      "bank_name": "Guaranty Trust Bank",
                      "bank_short_name": "GTBank",
                      "bank_logo_url": "https://assets.payvessel.com/banks/gtbank.png",
                      "is_active": true
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["Transfers"]
      }
    },
    "/pms/api/external/request/wallet/validate-account/": {
      "post": {
        "summary": "Validate Account",
        "description": "Resolve an account number to an account name before initiating transfer",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Business API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Business API Secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateAccountRequest"
              },
              "example": {
                "account_number": "4044823317",
                "bank_code": "8980"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateAccountResponse"
                },
                "example": {
                  "status": true,
                  "message": "Account resolved successfully",
                  "data": {
                    "account_name": "John Doe",
                    "account_number": "4044823317",
                    "bank_code": "8980",
                    "bank_name": "PayVessel MFB"
                  }
                }
              }
            }
          }
        },
        "tags": ["Transfers"]
      }
    },
    "/pms/api/external/request/wallet/transfer/": {
      "post": {
        "summary": "Initiate Transfer",
        "description": "Send money from your managed wallet to a bank account",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "description": "Your Payvessel public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-secret",
            "in": "header",
            "description": "Your Payvessel secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type",
            "required": true,
[...]
